<div class="logo">
  <a href="#home" class="active">NASA LOGO</a>
</div>
<nav>
  <div id="nav-icon3">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
<div id="myLinks">
  <a href="#news">Home</a>
  <a href="#contact">New search</a>
  <a href="#about">About us</a>
</div>
</nav>