<div class="upper">
  <div class="logo">
    <a href="/" title="Home"><img src="../img/logo.png"></a>
  </div>
</div>
<div class="lower">
  <nav>
    <div id="nav-icon3">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="menu" class="nav">
      <a href="/" class="item"><i class="icon fa-home"></i>Home</a>
      <a href="/searches" class="item"><i class="icon fa-search"></i>New search</a>
      <a href="/about" class="item"><i class="icon fa-user-circle"></i>About</a>
      <a href="/nasa" class="item"><i class="fas fa-map-marker icon"></i> NASA Image of the Day </a>
      <a href="#" class="item last"><i class="fab fa-wpforms icon"></i>Contact</a>
    </div>
  </nav>
</div>