<h1>SEARCH ASTEROIDS</h1>
<nav>
    <ul>
      <li><a href="../../">Home</a></li>
      <li><a href="/searches">Search the Asteroids - NeoWs API</a></li>
    </ul>
</nav>
<span id="ham-icon" class="icon fa-bars"></span>