<div class="logo">
  <a href="/" class="active">NASA LOGO</a>
</div>
<nav>
  <div id="nav-icon3">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
<div id="myLinks">
  <a href="/">Home</a>
  <a href="/searches">New search</a>
  <a href="#about">About us</a>
</div>
</nav>