<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
    <title>Search</title>
  </head>
  <body>
  <header>
    <%- include ('../../partials/header') %>
  </header>
  <main>
    <h2>Search by start/end date</h2>
    <form id="new-search" action="/searches" method="POST">
      <input id="startdate" type="date" size="12" required pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy" name="startdate">
      <input  id="enddate" type="date" size="12" required pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy" name="enddate">
      <button type="submit">Search</button>
    </form>
    <h2>Search for a location</h2>
    <form id="search-form">
      <input type="text" name="search" id="input-search" placeholder="Enter a location here" required> 
      <button type="submit">Explore!</button>
    </form>
    <h2 class="query-placeholder"></h2>
    <div class="map hide">
      <img id="map" src="" alt="Map of search query">
    </div>
    <div id="google"></div>
  </main>
  <footer>
    <%- include ('../../partials/footer') %>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>
   <script src="../../js/app.js"></script>
  <script src="../../js/menu.js"></script>
  <script src="../../js/map.js"></script>
  </body>
</html>