<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
  <title>NASA API</title>
</head>
<body>
  <header>
      <%- include ('../partials/header') %>
  </header>
  <div class="about">
    <h2>About us</h2>
    <main>
      <section class="about_us">
        <div class="row">
          <div class="author-nfo">
            <div class="photo-social">
              <div class="photo">
                <img src="img/Roman.jpg" alt="Author Image">
              </div>
              <div class="social">
                <a href="https://www.linkedin.com/"><img src="img/linkedin.png" title="Go to Linkedin" alt="Linkedin"></a>
                <a href="https://www.facebook.com/"><img src="img/github.png" title="Go to Facebook" alt="Facebook"></a>
              </div>
            </div>
            <div class="about-author">
              <h3>Roman Sydoruk</h3>
              <p>I'm a future full stack developer, with a background in Law. I love to learn new things about coding and really inspired to create projects in web development. I'm interested in social projects aimed at preserving the environment, so I believe that the future is in electric cars. I'm happy with our project, because we spent about 2 weeks for that and each day learnt new technologies. My life credo is a bird in the hand is worth two in the bush. I am a team player and really appreciate reliability and responsibility.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="author-nfo">
            <div class="photo-social">
              <div class="photo">
                <img src="img/Shubham.png" alt="Author Image">
              </div>
              <div class="social">
                <a href="https://www.linkedin.com/"><img src="img/linkedin.png" title="Go to Linkedin" alt="Linkedin"></a>
                <a href="https://www.facebook.com/"><img src="img/github.png" title="Go to Facebook" alt="Facebook"></a>
              </div>
            </div>
            <div class="about-author">
              <h3>Shubham Majumdar</h3>
              <p>I am a Test Automation Engineer at Holland America and have been working in IT for about 7 years.I have a background in Engineering and got my MS from CSULA in Fall 2011.I like to take challenges and perform under pressure.I am passionate about technology and really humbled to be a student at Code Fellows and hope to gain enough knowledge and experience to have a smooth transition into becoming a Full Stack Developer.</p>
            </div>
          </div>
        </div><div class="row">
          <div class="author-nfo">
            <div class="photo-social">
              <div class="photo">
                <img src="img/noah.png" alt="Author Image">
              </div>
              <div class="social">
                <a href="https://www.linkedin.com/in/noahmrhodes/"><img src="img/linkedin.png" title="Go to Linkedin" alt="Linkedin"></a>
                <a href="https://github.com/noahsadude"><img src="img/github.png" title="Go to Facebook" alt="Facebook"></a>
              </div>
            </div>
            <div class="about-author">
              <h3>Noah Rhodes</h3>
              <p>I have been in the digital marketing space since 2014, doing analytics and implementation work across many different industries. Recently, after listening to a Microsoft event where AI was being used to do things that very closely matched my job description, I became convinced that it was time to make a change to being the guy who builds the thing that automates my job away, rather than being on the recieving end. I spend my free time trying to wrap my brain around the fundamental structure of programming, hanging out with friends and playing with my laser collection.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="author-nfo">
          <div class="photo-social">
            <div class="photo">
              <img src="img/James.jpg" alt="Author Image">
             </div>
              <div class="social">
                <a href="https://www.linkedin.com/"><img src="img/linkedin.png" title="Go to Linkedin" alt="Linkedin"></a>
                <a href="https://www.facebook.com/"><img src="img/github.png" title="Go to Facebook" alt="Facebook"></a>
              </div>
             </div>
             <div class="about-author">
               <h3>James Ruhashyankiko</h3>
               <p> I've been always thrilled by learning and trying new things. When I started coding, it was by curiosity, but now it has become a passion. I can't give up. Sadly wasn't very active with this project as I was sick, but I liked working in this wonderful team, where there was always a solution to any obstacle. My dream is to develop a career in High Tech, and Code Fellows is helping a lot.</p>
             </div>
          </div>
         </div>
        </div>
      </section>
    </main>
  </div>
  <footer>
      <%- include ('../partials/footer') %>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>
  <script src="../../js/menu.js"></script>
  <script src="../../js/app.js"></script>
</body>
</html>
