@import url('https://fonts.googleapis.com/css?family=Kavivanar|Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

* {
  box-sizing: border-box;
 }

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Alegreya Sans', sans-serif;
  min-height: 100vh;
  overflow: auto;
  position: relative;
  padding-bottom:5rem;
  background-color: #f4f4f4;
}

main {
  width: 100%;
}