h2 {
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  color: rgb(121, 121, 121);
}

h2:after{
  display: block;
  height: 2px;
  background-color:  #3498db;
  content: " ";
  width: 6.25rem;
  margin: 0 auto;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}
/* Logo */
.logo{
  width: 35%;
}
.logo img {
  width: 100%;
}

/* --hamburger menu-- */

.nav {
	height: 100%;
  width: 0;
  left: 100%;
  right: 0;
	position: fixed;
	z-index: 20;
	top: 0;
	background-color: #1281d6;
	overflow-x: hidden;
	padding-top: 3.75rem;
  transition: 0.7s;
}
.transform {
  left: 50%;
  width: 50%;
}

.open{
  margin-right: 50%;
}
.nav a.item {
	display: flex;
	flex-direction: row;
	padding: 1.1rem 1.8rem;
	font-size: 1.2rem;
	text-decoration: none;
	color: rgb(143, 143, 143);
	background-color: white;
	border-top: 1px solid #ccc;
}
.nav .last {
	border-bottom: 1px solid #ccc;
}

.nav .icon {
  padding-right: .6rem;
	font-size: 1.5rem;
}

#nav-icon3 {
  z-index: 30;
  width: 3.2rem;
  height: 2.5rem;
  position: fixed;
  top:1rem;
  right: 1rem;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: .4rem;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 1rem;
}

#nav-icon3 span:nth-child(4) {
  top: 2rem;
}

#nav-icon3.open span:nth-child(1) {
  top: 1rem;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* --form-- */
.upcoming{
  background-color: rgb(235, 235, 235);
  padding-bottom: .5rem;
  border-bottom: 1px solid rgb(207, 207, 207);
}
.landed{
  padding-bottom: .5rem;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.map_section{
  padding-bottom: 1rem;
  background-color:  rgb(252, 252, 252);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}
.edit-form{
  width: 85%;
  margin: auto;
}
form > input {
  box-sizing: border-box;
  width: 90%;
  height: 3.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  background: white;
}
div > input {
  box-sizing: border-box;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: none;
  padding: 0.5rem;
  background: white;
  font-size: 1rem;
}
input {
  color: rgb(143, 143, 143);
}
button{
  margin-top: 1.5rem;
  border-radius: 200px;
  padding: .8rem 2rem;
  font-weight: 300;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  transition: background-color .5s, border .5s, color .5s;
}
#new-search button, #search-form button {
  background: linear-gradient(to top,#0068b8 0,#3fabfd);
} 
.details, #update, #delete{
  width: 8rem;
  padding: .8rem 1.8rem;
  text-align: center;
}

#search-form label{
  margin: .5rem;
  color:rgb(121, 121, 121);
  font-size: 120%;
}

/* MODAL START */
.modal {
  display: none; 
  position: fixed;
  z-index: 5; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal .asteroid {
  width: 90%;
  margin: auto;
}
/* MODAL END */

/* Section asteroids */
.asteroids {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.asteroid {
  color: rgb(207, 207, 207);
  width: 96%;
  background: #e0dfdf;
  margin: 4%;
  padding: 2rem 1.5rem;
  border-radius: 3px;
  font-size: 1.1rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
  text-align: center;
  line-height: 1.3;
  font-size: 130%;
}

.flex-row {
  text-align: center;
}

.show > .asteroid {
  margin: 1rem auto;
  width: 90%;
  font-size: 115%;
}
.asteroid a {
  text-decoration: none;
  color: rgb(207, 207, 207);
}
/* footer elements */

.icon {
  text-decoration: none;
}

  .icon:before {
    display: inline-block;
    font-family: FontAwesome;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon > .label {
    display: none;
  }

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

  ul.icons li {
    display: inline-block;
    padding-left: 0;
  }

  ul.icons a {
    color: #dddfe0;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2em;
    text-align: center;
    border: 0;
  }
span.show {
  color: white;
}

/* about us section */
.about h2 {
  color: rgb(190, 190, 190);
}
.about_us .row {
  width: 95%;
  border: 2px solid rgb(238, 238, 238);
  color: rgb(238, 238, 238);
  border-radius: 7px;
  margin: 3rem auto auto auto;
  line-height: 1.2;
  background: linear-gradient(to top,#005a9eec 0,#3090dae5);
  padding: 10px;
  font-size: 130%;
}

.about_us h3{
  font-size: 140%;
  font-weight: bold;
}
.our-team {
  color: #dfe6e9;
  margin-top: 25px;
}

.author-nfo {
  display: flex;
  width: 100%;
}
.photo-social {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 21%;
}
.photo {
  margin-bottom: 7px;
  margin-left: 5px;
}
.photo img {
  border-radius: 50%;
  width: 100%;
  border: 2px solid rgb(238, 238, 238);
}

.social {
  display: flex;
  justify-content: flex-end;
}
.social a{
  border: none;
}

.social img{
  width: 60%;
  margin: .3125rem;
  transition: transform 0.3s;
  border-radius: 50%;
  border: 2px solid rgb(199, 197, 197);
} 

.social img:hover {
  transform: scale(1.2);
}

.about-author{
  float: left;
  width: 70%;
  margin-top: 5px;
  text-indent: 20px;
  text-align: justify;
}

.about-author h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

/* NASA IMG */
.nasa {
  width: 100%;
}
.nasa_img{
  width: 100%;
  color: rgb(94, 93, 93);
  position: relative;
  overflow: auto;
}
.nasa_img span {
  color: #3498db;
}
#description {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #f4f4f4;
  z-index: 5;
  padding: .7rem;
  border-radius: 1rem;
  margin: 0 7.5% 0 7.5%;
  text-indent: 1rem;
  width: 85%;
  text-align: justify;
  line-height: 1.2;
  font-family: Lato, san-serif;
  font-size: 120%;
}
.date{
  text-align: center;
  font-weight: bold;
}
.nasa_img img {
  display: block;
  margin: 0 auto 1rem auto;
  width: 90%;
  border-radius: 1rem;
}

/* Google Map */
.hide {
  display: none;
}
.google_map {
  width: 100%;
}
#google{
  width: 80%;
  height: 600px;
  margin: 0 auto;
  border-radius: 5px;
}
.map {
  width: 100%;
}
.map img{
  display: block;
  width: 75%;
  margin: 1rem auto;
}

@media screen and (min-width: 601px) and (max-width: 735px) {
  .logo {
    width: 25%;
  }
  .logo img{
    width: 100%;
  }
  form > input {
    width: 85%;
    margin: 0 7.5%;
  }
  .show > .asteroid {
    margin: 1rem auto;
    width: 85%;
    font-size: 120%;
  }
  .about_us .row {
    width: 85%;
  }
  ul.icons {
    line-height: 5rem;
  }
}

@media screen and (min-width: 736px) and (max-width: 960px) {

  .logo {
    width: 20%;
  }
  .logo img{
    width: 100%;
  }
  
  ul.icons {
    line-height: 5rem;
  }
  ul.icons a {
    width: 2rem;
    height: 2rem;
  }

  .asteroid {
    width: 48%;
    margin: 1%;
  }
  form > input{
    width: 50%;
    margin: 1% 20%;
  }
  .show > .asteroid {
    margin: 1rem auto;
    width: 70%;
    font-size: 130%;
  }
  .about_us .row {
    width: 75%;
  }
}

@media screen and (min-width: 961px) {

  .logo {
    width: 15%;
  }
  .logo img{
    width: 100%;
  }
  nav {
    height: 100%;
    width: 100%;
  }
  .nav{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    left: 100%;
    right: 0;
    position: static;
    z-index: auto;
    top: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 0;
    transition: 0.7s;
  }  
  .nav a.item {
    font-family: Lato, san-serif;
    display: flex;
    font-weight: 550;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(216, 216, 216);
    background-color: transparent;
    border-top: none;
  }
  .nav .last {
    border-bottom: none;
  }

  .nav .icon {
    display: none;
  }
  #nav-icon3 {
    display: none;
  }
  
  .asteroid{
    background: linear-gradient(to top,#005a9e 0,#3090da);
    width:31.33%;
    margin: 1%;
  }
  footer ul {
    line-height: 5rem;
  }
  ul.icons a {
    width: 2rem;
    height: 2rem;
  }

  /* form */

  form {
    margin: 0 2rem;
  }
  form > input {
    width: 40%;
  }

  .modal .asteroid {
    width: 50%;
    margin: auto;
  }
/* item details */
  .show > .asteroid {
    margin: 1rem auto;
    width: 50%;
    font-size: 140%;
  }

  /* about us */

  .about_us .row {
    width: 60%;
  }
}


