.nav a.item:hover {
	color: #fff;
	background-image: linear-gradient(to top,#0068b8 0,#65bcff);
	transition: 0.4s;
}

button:hover {
  cursor: pointer;
  background-image: linear-gradient(to top,#0068b8 0,#65bcff);
  color: white;
}

footer a:hover{
color: white;
}