.nav a.item:hover {
	color: #fff;
	background-image: linear-gradient(to top,#0068b8 0,#65bcff);
	transition: 0.4s;
}

button:hover, #new-search button:hover, #search-form button:hover  {
  cursor: pointer;
  background-image: linear-gradient(to top,#1377c4 0,#58acec);
}

.nasa_img span:hover {
color: #7ec7f8;
cursor: pointer;
}
footer a:hover{
color: white;
}